<ion-view title="{{spice.name}}">
  <ion-content has-header="true" padding="true">
  	<div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Spice</span>
		    <p>{{ spice.name }}</p>
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Manufacturer</span>
		    <p>{{ spice.manufacturer }}</p>
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Expiration Date</span>
		    <p>{{ spice.pivot.expiration }}</p>
		  </label>
		</div>
		<div class="list">
		  <div class="range range-positive">
		    E
		    <input type="range" name="amount" min="0" max="100" value="{{ spice.pivot.amount }}" ng-model="spiceUpdate.amount">
		    F
		  </div>
		</div>

		<button class="button button-block button-positive" ng-click="update(spice.data.id)">
			<i class="ion-ios7-checkmark"></i> Save Spice
		</button>
		<button class="button button-block button-assertive" ng-click="delete(spice.data.id)">
			<i class="ion-ios7-trash"></i> Delete Spice
		</button>
  </ion-content>
</ion-view>